<!-- View/Test.cshmtl   -->


<head>
<script src="~/js/site.js"></script>

</head>

<body>


<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form id="1">
                <h5 class="card-title">Soru 1: Hangi renkler birincil renklerdir?</h5>
                <div class="form-group">
                    <input type="radio" id="secenekA1" name="cevap1" value="A">
                    <label class="ml-2" for="secenekA1">A) Kırmızı, Yeşil, Mavi</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekB1" name="cevap1" value="B">
                    <label class="ml-2" for="secenekB1">B) Sarı, Mavi, Kırmızı</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekC1" name="cevap1" value="C">
                    <label class="ml-2" for="secenekC1">C) Siyah, Beyaz, Gri</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekD1" name="cevap1" value="D">
                    <label class="ml-2" for="secenekD1">D) Turuncu, Yeşil, Mor</label>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=wDcLb3n7VEY" allowfullscreen></iframe>
                    </div>
            </form>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form id="1">
                <h5 class="card-title">Soru 1: Hangi renkler birincil renklerdir?</h5>
                <div class="form-group">
                    <input type="radio" id="secenekA1" name="cevap1" value="A">
                    <label class="ml-2" for="secenekA1">A) Kırmızı, Yeşil, Mavi</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekB1" name="cevap1" value="B">
                    <label class="ml-2" for="secenekB1">B) Sarı, Mavi, Kırmızı</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekC1" name="cevap1" value="C">
                    <label class="ml-2" for="secenekC1">C) Siyah, Beyaz, Gri</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekD1" name="cevap1" value="D">
                    <label class="ml-2" for="secenekD1">D) Turuncu, Yeşil, Mor</label>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=wDcLb3n7VEY" allowfullscreen></iframe>
                    </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form id="1">
                <h5 class="card-title">Soru 1: Hangi renkler birincil renklerdir?</h5>
                <div class="form-group">
                    <input type="radio" id="secenekA1" name="cevap1" value="A">
                    <label class="ml-2" for="secenekA1">A) Kırmızı, Yeşil, Mavi</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekB1" name="cevap1" value="B">
                    <label class="ml-2" for="secenekB1">B) Sarı, Mavi, Kırmızı</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekC1" name="cevap1" value="C">
                    <label class="ml-2" for="secenekC1">C) Siyah, Beyaz, Gri</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekD1" name="cevap1" value="D">
                    <label class="ml-2" for="secenekD1">D) Turuncu, Yeşil, Mor</label>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=wDcLb3n7VEY" allowfullscreen></iframe>
                    </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form id="1">
                <h5 class="card-title">Soru 1: Hangi renkler birincil renklerdir?</h5>
                <div class="form-group">
                    <input type="radio" id="secenekA1" name="cevap1" value="A">
                    <label class="ml-2" for="secenekA1">A) Kırmızı, Yeşil, Mavi</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekB1" name="cevap1" value="B">
                    <label class="ml-2" for="secenekB1">B) Sarı, Mavi, Kırmızı</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekC1" name="cevap1" value="C">
                    <label class="ml-2" for="secenekC1">C) Siyah, Beyaz, Gri</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekD1" name="cevap1" value="D">
                    <label class="ml-2" for="secenekD1">D) Turuncu, Yeşil, Mor</label>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=wDcLb3n7VEY" allowfullscreen></iframe>
                    </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form id="1">
                <h5 class="card-title">Soru 1: Hangi renkler birincil renklerdir?</h5>
                <div class="form-group">
                    <input type="radio" id="secenekA1" name="cevap1" value="A">
                    <label class="ml-2" for="secenekA1">A) Kırmızı, Yeşil, Mavi</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekB1" name="cevap1" value="B">
                    <label class="ml-2" for="secenekB1">B) Sarı, Mavi, Kırmızı</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekC1" name="cevap1" value="C">
                    <label class="ml-2" for="secenekC1">C) Siyah, Beyaz, Gri</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="secenekD1" name="cevap1" value="D">
                    <label class="ml-2" for="secenekD1">D) Turuncu, Yeşil, Mor</label>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=wDcLb3n7VEY" allowfullscreen></iframe>
                    </div>
            </form>
        </div>
    </div>
</div>

<button type="button" onclick="cevaplarıKontrolEt()">Cevapları Kontrol Et</button>



</body>
</html>