@{
    Layout = "_Layout";
    ViewData["Title"] = "Taktik Analizleri";
}

<h2> TAKTİK ANALİZLER </h2>

<div class="my-4"></div> <!-- Boşluk ekledim -->

<div class="row">
    <div class="col-4">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#item-1">Avrupa'nın Önemli Ligleri</a>
                <nav class="nav nav-pills flex-column">
                   
                </nav>
                <a class="nav-link" href="#item-2">Teknik Direktörlerin Uygulamaları</a>
                <a class="nav-link" href="#item-3">Analizler ve Raporlar</a>
                <nav class="nav nav-pills flex-column">
                    
                </nav>
            </nav>
        </nav>
    </div>

    <div class="col-8">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="taktik1.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                    <img src="taktik2.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                    <img src="taktik3.jpg" class="d-block w-100" alt="Image 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-1">
                <h4>Avrupa'nın Önemli Ligleri</h4>
                <p>Bu bölümde, Avrupa'nın önde gelen liglerindeki takımların genel performans analizleri yapılacaktır. İngiltere Premier Lig, La Liga, Serie A, Bundesliga ve Ligue 1 gibi liglerdeki takımların taktiksel eğilimleri, puan durumları ve sezon içindeki performanslarına dair detaylı raporlar sunulacaktır.</p>
            </div>
            <div id="item-2">
                <h4>Teknik Direktörlerin Uygulamaları</h4>
                <p>Öne çıkan teknik direktörlerin taktiksel tercihleri ve maç içindeki stratejileri bu bölümde incelenecektir. Takımlar arasındaki taktiksel rekabetler, teknik direktörlerin oyuncu tercihleri ve stratejik değişikliklere dair ayrıntılı analizler, futbolseverlere ve profesyonel antrenörler ile analistlere kapsamlı bir bakış sunacaktır.</p>
            </div>
            <div id="item-3">
                <h4>Analizler ve Raporlar</h4>
                <p>Bu bölümde, antrenörler ve analistler için kullanışlı bilgilerle desteklenmiş detaylı raporlar sunulacaktır. Maç öncesi ve sonrası analizler, teknik eğitim için ciddi bir kaynak oluşturacaktır. İstatistiksel verilerle desteklenmiş analizler, takımların güçlü ve zayıf yönlerini anlamada önemli bir rol oynayacaktır. Bu içerikler, futbolun taktiksel derinliklerine inmek isteyen herkes için değerli bir kaynak olacaktır.</p>
            </div>
        </div>
    </div>
</div>

