<!-- Views/Sınav/Sınav.cshtml -->
@model List<PROJEM.Data.Soru>

@{
    ViewData["Title"] = "Sınav";
}

<h2>Sınav</h2>
<style>
    .card {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .center {
        text-align: center;
    }

    .submit-btn {
        margin-top: 20px;
    }
</style>

<form method="post" action="/Sınav/TestSonucunuKaydet">
    @for (int i = 0; i < Model.Count; i++)
    {
        var soru = Model[i];
        <div class="card">
            <p>@soru.SoruMetni</p>
            <ul>
                @for (int j = 0; j < soru.Secenekler.Count; j++)
                {
                    var secenek = soru.Secenekler[j];
                    <li>
                        <label>
                            <input type="radio" name="sorular[@i].KullaniciCevabi" value="@secenek.SecenekMetni" /> @secenek.SecenekMetni
                        </label>
                    </li>
                }
            </ul>
        </div>
    }

    <div class="center">
        <button type="submit" class="submit-btn">Sınavı Bitir</button>
    </div>
</form>
