.custom-container {
    max-width: 1200px; /* Maksimum genişlik */
    min-width: 300px; /* Minimum genişlik */
    margin-right: auto; /* Sağdan boşluk bırakma */
    margin-left: auto; /* Soldan boşluk bırakma */
    border: 1px solid #121055; /* Sınır rengi ve kalınlığı */
    padding: 20px; /* İçerideki içeriğe olan boşluk */
    border-radius: 10px; /* Kenar yuvarlama */
    margin-top: 20px;
}

