<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - MyMvcApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="~/css/site.css">
    <!-- Diğer stil dosyalarını ekleyebilirsiniz -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Bu bölümü ekleyin -->
    @RenderSection("Styles", required: false)
</head>
<body>
   <!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">ANALİZHUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Sol taraftaki menü öğeleri -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Anasayfa <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" asp-controller="User" asp-action="Index">User <span class="sr-only">(current)</span></a>
            </li>
             <li class="nav-item active">
                <a class="nav-link" asp-controller="Roles" asp-action="Index">Roles <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Ürünler
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="~/Urunler/MacAnalizleri">Maç Analizleri</a>
                    <a class="dropdown-item" href="~/Urunler/OyuncuAnalizleri">Oyuncu Analizleri</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="~/Urunler/TaktikAnalizler">Taktik Analizler</a>
                </div>
            </li>

            <!-- "Test", "Forum" ve "Sınav" bağlantıları -->
            <li class="nav-item">
                <a class="nav-link" href="~/Test/Test">Test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Forum/Forum">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Sınav/Sınav">Sınav</a>
            </li>
        </ul>

        <!-- Sağa hizalı menü öğeleri -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="~/Uye/UyeOl">Üye Ol</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Uye/GirisYap">Giriş yap</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Diğer sayfa içeriği buraya gelecek -->
@RenderBody()

<!-- FOOTER -->

@RenderSection("question", required: false)


</body>

</html>
